<!DOCTYPE html>
<html lang="zh_CN">
<!-- 备注信息 -->

<head>
    <meta charset="UTF-8">
    <title>修改用户密码</title>
    <!-- 引入vue -->
    <script src="http://unpkg.com/vue/dist/vue.js "></script>
    <!-- 引入 javascript -->
    <script src="http://unpkg.com/element-ui@2.13.2/lib/index.js"></script>
    <!-- 引入 样式表  -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css" />
    <!--样式放入样式表-->
    <link rel="stylesheet" href="../static/css/password.css" />
</head>

<body>
    <!-- 在这里引入内容 -->
    <div id="app">
        <!-- 记得写id -->
        <el-card class="box-card">
            <div slot="header">
                <span>修改密码</span>
            </div>
            <!--测试阶段用用户名，生产模式用邮箱找回-->
            <el-form :model="ruleForm" status-icon ref="ruleForm" :rules="rules" label-width="80px">
                <el-form-item label="用户名" prop="user">
                    <el-input type="text" v-model="ruleForm.user" auto-complete="off" placeholder="请输入您注册使用的用户名"
                    maxlength="20">
                    </el-input>
                </el-form-item>
            </el-form>

        </el-card>

    </div>
</body>
<script>
    /* 这是vue的位置 */
    var main = ({
        data() {
            var isUser = (rule, value, callback) => {
                if(!value){
                    callback(new Error('不得为空！'));
                }
                else if(value.length>=3){
                    const url="http://localhost:9001"
                    axios.post(url,params)
                    .then(res => {
                        console.log(res)
                    })
                    .catch(err => {
                        console.error(err); 
                    })
                }
            }
            return {
                ruleForm: {
                    user: ''
                },
                rules: {
                    user: [{
                        required: true,
                        validator: isUser,
                        trigger: 'blur'
                    }]
                }
            }
        }
    })
    var Cart = Vue.extend(main)
    new Cart().$mount('#app')
</script>
<style>
    /* 这是样式  */
</style>

</html>