<!DOCTYPE html>
<html lang="zh_CN">
  <head>
    <meta charset="UTF-8">
    <title>我是标题</title>
    <script src=""></script> <!--如有需要，这里引入Javascript的内容 -->
    <style></style>  <!-- 如有需要，在这里配置样式表 -->
  </head>
  <body>
    <span style="color:aqua;font-size: 35px;">尊敬的：</span>
    <p> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp您的订单：已于  提交。订单内商品共 种，合计 元。订单详情请登录 <a href="http://localhost:9001/page/member">会员中心</a>查看。</p>
    <h3 style="float: right;font-size: 35px;">夏晨商城</h3>
    <h6 style="float:right;">time</h6>
  </body>
</html>