@import url("../lib/element-ui/lib/theme-chalk/index.css");
.el-header {
    background-color: #B3C0D1;
    color: #333;
    line-height: 60px;
  }
  
  .el-aside {
    color: #333;
    background-color: #8edbfa;
    height: 100%;
  }

#box ul{
    display: flex;
    flex-wrap: wrap;
}
#box li{
    padding: 3px;
    list-style: none;
    margin-right: 15px;
    border: 1px solid #eee;
}
#box el-img{
    width: 200px;
    height: 150px;
}

/********************/
#title-center{
  font-size: 45px;
}
